<!DOCTYPE html>
<html>

<head>
    <style>
        .bgr {
            background-color: rgba(180, 175, 175, 0.219);
        }

        p {
            color: #0c0b0b;
            margin-left: 40px;
        }

        .groove {
            border-style: groove;
            border-color: rgb(170, 115, 150);
            width: 800px;
        }

        .btnn {
            border-radius: 4px;
            background-color: #c21c11;
            color: white;
            padding: 10px 25px;
            text-decoration: none;
        }

        .tbl {
            border: 1px solid black;
            border-collapse: collapse;
        }

        .btn {

            background-color: #8b0909;
            border-radius: 10px;
            border: 4px double #cccccc;
            color: #fdf1f1;
            text-align: center;
            font-size: 15px;
            padding: 5px 50px;
            width: 50px;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            cursor: pointer;
            margin: 2px;
            text-decoration: none;
        }

        .left {
            text-align: center;
            margin-right: 10px;
        }
        .bold{
            font-weight: bold;
        }

        .padd {
            margin-left: 40px;
        }

        .margin_left {
            margin-left: 45px;
        }

        .paddd {
            margin-left: 16px;

        }

        .location {
            font-size: 13px;
        }
    </style>
</head>


<body>

    <p>Dear <%= name %>,
    </p>
    <p>
        Your new password need to meet the following guidelines:
    </p>
    <ul className="paddd" style="color: black;">
        <li>be at least 8 characters and no more than 20</li>
        <li>contain one number from [0 - 9]</li>
        <li>contain one lowercase letter [a - z]</li>
        <li>contain one uppercase letter [A - Z]</li>
        <li>contain special characters</li>
    </ul>
    <p>If you did not make this request, please ignore this email and your password will remain the same.</p>
    <a className="padd btn left" href="<%= link %>" target="_blank" style="color: blue;">ResetMyPassword</a><br>
</body>
<script>
    const d = new Date();
    document.getElementById("demo").innerHTML = d;
</script>

</html>